body , html {
    padding:0; 
    margin:0;
    height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.text-center{
    text-align: center;
}
img.icon {
    width:  50px;
    height: 50px;
    /*border: 1px solid #000000;*/
    border-radius: 50%;
    background-size: 50px 50px;
    background-position: right bottom;
}

img.twitter {
    width:  40px;
    height: 40px;
    /*border: 1px solid #000000;*/
    border-radius: 50%;
    background-size: 40px 40px;
    background-position: right bottom;
}

h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.nav,ul{
    box-shadow: 0 2px 2px -2px rgb(0 0 0 / 20%);
    overflow: auto;
}

.nav-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
}
